<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block head %}{% endblock %}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="{% url 'chat:homepage' %}" class="brand-logo">ChatApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="{% url 'chat:dashboard' %}">{{user.username}}</a></li>
        <li><a href="{% url 'chat:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'chat:register' %}">Register</a></li>
        <li><a href="{% url 'chat:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% if messages %}
       {% for msg in messages %}
       {% if msg.tags == 'success' %}
       <script>
           M.toast({html: "{{msg}}", displayLength : 2000, classes : "green rounded"})
       </script>
       {% endif%}
       {% if msg.tags == 'error' %}
       <script>
           M.toast({html: "{{msg}}", displayLength : 4000, classes : "red rounded"})
       </script>
       {% endif%}
       {% if msg.tags == 'info' %}
       <script>
           M.toast({html: "{{msg}}", displayLength : 2000, classes : "blue rounded"})
       </script>
       {% endif%}
       {% endfor %}
   {% endif %}
  {% block content %}
  {% endblock %}
  </body>
</html>
