{% extends './base.html' %}

{% block head %}
  {{title}}
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center">Create a New Account</h2><br>
  <form action="/validate" method="post">
    <div class="form-group">
      <label for="InputFirstName">First name</label>
      <input type="text" class="form-control" id="InputFirstName" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>
    <div class="form-group">
      <label for="InputLastName">Last name</label>
      <input type="text" class="form-control" id="InputLastName" placeholder="Enter Last Name" required>
    </div>
    <div class="form-group">
      <label for="InputUserName">User name</label>
      <input type="text" class="form-control" id="InputUserName" aria-describedby="usernameHelp" placeholder="Enter User Name" required>
      <small id="usernameHelp" class="form-text text-muted">This will be shown to others</small>
    </div>
    <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form><br><br>
  <p><strong>Are You already a Registered User ? <a href="login/">Login</a> Here</strong></p>
</div>
{% endblock %}
